<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button> 
      </ion-buttons>
    <ion-title>Payment Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form (ngSubmit)="payment()" [formGroup]='personalform'>

    <ion-item>
      <ion-label position="floating">Customer name</ion-label>
      <ion-input type="text" id="email" name="email" formControlName="name"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Contact Number</ion-label>
      <ion-input type="tel" id="email" name="email"formControlName="number" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Customer Email</ion-label>
      <ion-input type="email" id="email" name="email" formControlName="email"></ion-input>
    </ion-item>

  </form>

  <br>
  <form (ngSubmit)="payment()" [formGroup]='paymentform'>
    <!-- <ion-item> -->
      <!-- <ion-label >Credit Card Info</ion-label>  -->
      <!-- <ion-item> -->
        <!-- <ion-label>Credit Card</ion-label>
        <ion-checkbox formControlName="cardtype" value="Credit Card" slot="end"></ion-checkbox>
        <ion-label>Debit Card</ion-label>
        <ion-checkbox formControlName="cardtype" value="Debit Card" slot="end"></ion-checkbox> -->
        <!-- <ion-label>UPI</ion-label>
        <ion-checkbox formControlName="cardtype" value="UPI" slot="end"></ion-checkbox> -->
       <!-- </ion-item> -->
      <ion-list>
        <ion-radio-group [allowEmptySelection]="true" formControlName="cardtype">
          <ion-item>
            <ion-label>Credit Card</ion-label>
            <ion-radio slot="end"  value="Credit Card"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Debit Card</ion-label>
            <ion-radio slot="end"  value="Debit Card"></ion-radio>
          </ion-item>
      
           <!-- <ion-item>
            <ion-label>UPI</ion-label>
            <ion-radio slot="end"   value="UPI"></ion-radio>
          </ion-item>  -->
      
         
        </ion-radio-group>
      </ion-list>
      <!-- <ion-list>
        <ion-radio-group value="default" >
          <ion-list-header>
            <ion-label>Choose Card</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Credit Card</ion-label>
            <ion-radio slot="start" formControlName="cardtype" value="Credit Card"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Debit Card</ion-label>
            <ion-radio slot="start" formControlName="cardtype" value="Debit Card"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>UPI</ion-label>
            <ion-radio slot="start" formControlName="cardtype" value="UPI"></ion-radio>
          </ion-item>
        </ion-radio-group>
  
      </ion-list> -->
    <!-- </ion-item> -->
    <br>

    <ion-item>
      <ion-label position="stacked">Payment Amount</ion-label>
      <ion-input type="number"   placeholder="Enter Amount" formControlName="amount"></ion-input>
    </ion-item>  
    <br>
    <!-- <ion-item>
      <ion-label position="floating">Advance Amount</ion-label>
      <ion-input type="number" id="advanceamount" formControlName="advanceamount"></ion-input>
    </ion-item>  
    <br> -->
    <br>
    <ion-item>
      <ion-label position="floating">Name on Card</ion-label>
      <ion-input type="text" id="email" name="email" formControlName="namecard"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Card Number</ion-label>
      <ion-input type="tel" id="email" name="email" formControlName="numbercard" ></ion-input>
    </ion-item>
      
        <ion-item>
          
      <!-- <ion-label position="floating">Expiration</ion-label>
      <ion-input type="number" id="email" name="email" formControlName="exp"></ion-input> -->
      <ion-label position="floating">Expiration </ion-label>

      <ion-select placeholder="Expiry month" name="catagoeryname" formControlName="exp" >
        <ion-select-option value="">-- Select Month--</ion-select-option>
        <ion-select-option >01/</ion-select-option>
        <ion-select-option>02/</ion-select-option>
        <ion-select-option >03/</ion-select-option>
        <ion-select-option value="1993">04/</ion-select-option>
        <ion-select-option value="1994">05/</ion-select-option>
        <ion-select-option value="1995">06/</ion-select-option>
        <ion-select-option value="1996">07/</ion-select-option>
        <ion-select-option value="1997">08/</ion-select-option>
        <ion-select-option value="1998">09/</ion-select-option>
        <ion-select-option value="1999">10/</ion-select-option>
        <ion-select-option value="2000">11/</ion-select-option>
        <ion-select-option value="2001">12/</ion-select-option>
        </ion-select> 
        <ion-list> 
 <ion-item>
          <ion-select placeholder="Expiry year" name="catagoeryname" formControlName="exp1">
            <ion-select-option value="">-- Select year--</ion-select-option>
            <ion-select-option value="1994">2023</ion-select-option>
            <ion-select-option value="1995">2024</ion-select-option>
            <ion-select-option value="1996">2025</ion-select-option>
            <ion-select-option value="1997">2026</ion-select-option>
            <ion-select-option value="1998">2027</ion-select-option>
            <ion-select-option value="1999">2028</ion-select-option>
            <ion-select-option value="1998">2029</ion-select-option>
            <ion-select-option value="1999">2030</ion-select-option>
            </ion-select> 
   </ion-item>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CVV Number</ion-label>
      <ion-input type="tel" id="email" name="email" formControlName="cvv"></ion-input>
    </ion-item>
    <ion-button type="submit" >Submit</ion-button> 
</form>

</ion-content>