<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button> 
      </ion-buttons>
    <ion-title>Pizza Size Registration</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  <form (ngSubmit)="submit()" [formGroup]='sizereg'>
      <div class="container" >
        <div class="title"><b><h2>Pizza Size Registration</h2></b></div><br>
        <label><b>Pizza Size</b></label>
        <input type="text" placeholder="Pizza Size" formControlName="Size" style="color: white;">

        <label><b>Size Description</b></label>
        <input type="text" placeholder="Pizza Size Description"  formControlName="sizedescription" style="color: white;" >
     
        <!-- <label><b>Last Name</b></label> (change)="this.changePhoneNumber()"
        <input type="text" placeholder="Enter Last Name" > -->

        <!-- <label><b>Email Address</b></label>
        <input type="text" placeholder="Enter Email Address"  formControlName="email" style="color: white;" >
        
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" formControlName="password" style="color: white;"> -->
        
        <!-- <label><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" > -->

        <!-- <label><b>Gender</b></label>
        <div>
            <select class="custom_select">
              <option value="">Select</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
         -->
        
         <button _ngcontent-pfy-c143="" type="submit">Submit</button>
  </div>
    </form>
    </ion-content>
