<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button> 
      </ion-buttons>
    <ion-title>Customer Details</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-card>
      <ion-button class="btn btn-success"  fill="outline" color="danger" (click)="request()">Payment Details</ion-button>
    </ion-card> -->
<ion-content>
  <form  [formGroup]='viewmore'>  

    <ion-card color="light" *ngFor="let p of pizza;">
      <!-- <ion-button class="btn btn-success"  fill="outline" color="danger" (click)="request(p.customername,p.formatdate,p.customerId)">Payment Details</ion-button> -->

      <ion-card-content>
        <ion-card-subtitle>

          <ion-card-title>
        Customer Name :- {{p.customername}}<br>
      </ion-card-title><br>
        <img [src] ="p.image" width="100px"><br><br>
    
        Product Name :- {{p.itemname}}<br><br>
    
        Product Description :- {{p.itemdescription}}<br><br>
     
        Product Delivery Address :- {{p.itemdeliveryaddress}}<br><br>
     
        Product Size category :- {{p.itemsize}}<br><br>
   
        Product Price :- {{p.itemprice}}<br><br>
  
        Product Date :- {{p.formatdate}}<br><br>
    
        Product Quantity :- {{p.itemquantity}}<br><br>
    
        Product Total Amount :- {{p.itemamount}}<br><br>
     
        <!-- Product status :- {{p.requeststatus}}<br><br> -->
      </ion-card-subtitle>
     
        
          <!-- <ion-button class="btn btn-success" color="success"  (click)="accept(p.collection_requestsId)"> 
            <ion-icon slot="start" name="star"></ion-icon>Accept</ion-button>
      &nbsp;&nbsp;
          <ion-button class="btn btn-success" color="danger"  (click)="reject(p.collection_requestsId)">Reject
            <ion-icon slot="end" name="star"></ion-icon>
          </ion-button> -->
        
    
  <ion-input type="filereadonly" readonly id="name" (change)="handlefile($event)" required></ion-input>
</ion-card-content>
</ion-card>
<ion-card color="light" 
 *ngFor="let p of Dessert;" >

  <ion-card-content>
    <ion-card-subtitle>

      <ion-card-title>
    <!-- Customer Name :- {{p.customername}}<br> -->
  </ion-card-title><br>
    <img [src] ="p.image" width="100px"><br><br>

    Product Name :- {{p.itemname}}<br><br>

    Product Description :- {{p.itemdescription}}<br><br>
 
    Product Delivery Address :- {{p.itemdeliveryaddress}}<br><br>
 
    Product Size category :- {{p.itemsize}}<br><br>

    Product Price :- {{p.itemprice}}<br><br>

    Product Date :- {{p.formatdate}}<br><br>

    Product Quantity :- {{p.itemquantity}}<br><br>

    Product Total Amount :- {{p.itemamount}}<br><br>
 
    <!-- Product status :- {{p.requeststatus}}<br><br> -->
  </ion-card-subtitle>
 
    

    

<ion-input type="filereadonly" readonly id="name" (change)="handlefile($event)" required></ion-input>
</ion-card-content>
</ion-card>

<ion-footer>
  <ion-toolbar>
  <ion-card>

    <ion-button class="btn btn-success" color="success"  (click)="accept()"> Accept
      <ion-icon slot="start" name="star"></ion-icon></ion-button>
&nbsp;&nbsp;
    <ion-button class="btn btn-success" color="danger"  (click)="reject()">Reject
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>

  </ion-card>
</ion-toolbar>
</ion-footer>
    <!-- <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input type="text" readonly formControlName="dessertname"></ion-input>
    </ion-item> -->
    
    <!-- <ion-item>
      <ion-label position="floating">Product Description</ion-label>
      <ion-input type="text" readonly formControlName="pdescription"></ion-input>
    </ion-item> -->

    <!-- <ion-item>
      <ion-label position="floating">Product Delivery Address</ion-label>
      <ion-input type="text" formControlName="daddress"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Product Price</ion-label>
      <ion-input type="numer" readonly formControlName="Price"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Product Date</ion-label>
      <ion-input type="Date" readonly formControlName="pdate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Product Quantity</ion-label>
      <ion-input type="number" formControlName="pquantity" ></ion-input>
    </ion-item>



    <ion-item>
      <ion-label position="floating">Product Total Amount</ion-label>
      <ion-input type="numer" readonly formControlName="ptamount"></ion-input>
    </ion-item> -->


    
    <!-- <ion-button type="submit" shape="round"  >ORDER</ion-button> -->

    

  </form>
</ion-content>
