<ion-header>
  <ion-toolbar>
    <ion-title>Report Accept</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="btn btn-success" color="success" [routerLink]= "['/Admin/reports']">Go back..</ion-button>

  <ion-card *ngFor="let c of accept;">
    <img alt="Silhouette of mountains" src="{{c.image}}" />
    <ion-card-header>
      <ion-card-title>Product Name : {{c.itemname}}</ion-card-title>
      <ion-card-subtitle>Product Price : {{c.itemprice}} </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Product Quantity : {{c.itemquantity}}<br>
      Delivery Date : {{c.formatdate}} 
      <br>
      Product Delivery Address : {{c.itemdeliveryaddress}}
    </ion-card-content>
  </ion-card>

</ion-content>
