// .grid1 {
//     height: 100%;
//     padding: 10px;
// }

// .contaier-login {
//     width: 70%;
//     padding: 10px;
//     background: #121111;
//     border-radius: 10px;
//     -webkit-box-shadow: 0px 0px 10px 1px rgba(235, 225, 225, 0.75);
//     -moz-box-shadow: 0px 0px 10px 1px rgba(240, 234, 234, 0.75);
//     box-shadow: 0px 0px 10px 1px rgba(239, 232, 232, 0.75);
// }


// .row1 {
//     height: 50%;
//     background: -moz-linear-gradient(45deg, rgb(161, 164, 208) 30%, rgba(84, 74, 171, 0.8) 100%);
//     background: -webkit-linear-gradient(45deg, rgb(178, 180, 201) 0%, rgba(84, 74, 171, 0.8) 100%);
//     background: linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
// }
// // .img-container {
// //     display: flex;
// //     justify-content: center;
// //     align-items: center; 
// //     // this only if you want to vertical align it to the center too
// //  }

// .row2 {
//     height: 50%;
// }

// ion-icon {
//     margin-right: 15px;
// }

// ion-button {
//     margin-top: 5px;
//     margin-bottom: 15px;
// }

// ion-slide {
//     width: 100%;
//     height: 100%;
//     position: absolute !important;
//     top: 0px !important;
// }

ion-content{
    --background: linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.1)),
    url("../../../assets/img/cartoon-pizza-shop-vector-35844728.jpg") no-repeat center center /cover ;
}

.login-section{
    height: 74vh;
    width: 100%;
    max-width: 500px;
    background:rgb(34, 34, 34);
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;

    .heading{
        margin-top: 20px;
        h1{
            font-size: 1.6rem;
            color: #efeaea;
            font-weight: bolder;
        }
        p{
            margin-top: 20px;
            font-size: 1rem;
            color: rgb(247, 241, 236);
        }
    }
    .login-form{
        .form-input{
            position: relative;
            margin-bottom: 10px;
            ion-item:part(native){
                padding: 0;
            }
            ion-icon{
                position: absolute;
                top: 37px;
                z-index: 2;
                font-size: 1.2rem;
                left: 5px;
            }
            ion-label{
                position: absolute;
                margin-left: 35px;
                font-weight: bolder;
                font-size: 0.8rem;
                top: 3px;
            }
            ion-input{
                font-size: 0.9rem;
                --padding-start:36px;
                --padding-top:36px;
                color: #f8f0f0;
            }
        }
    }
    .action-button{
        text-align: center;
        .login-button{
            --background-color:#f9b801;
            width: 100px;
            font-weight: bold;
        }
        p{
            margin-top: 15px;
            font-size: 1rem;
            color: #dcd3d3;
        }
        .signup-button{
            --border-color:#3312d6;
            --background:#241568;

            // -color:#000000;
            font-weight: bold;
            margin-top: 100%;
            width: 100%;
        }
    }
}