<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button> 
      </ion-buttons>
    <ion-title>Customer Requests</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <ion-card-content>
    </ion-card-content>





<ion-content>
  <!-- <ion-icon name="add-circle-outline"[routerLink]= "['/Admin/powreg']"></ion-icon> -->
  
    <ion-item *ngFor="let d of pizza;">
    <figure class="snip1171 orange"style="margin-left: 30px;">
      <img [src]="d.image" >
      <div class="price"> ₹{{d.itemamount}}
  </div>
        <br>
        
          
              <br>
              <figcaption>
              
         <h3>Customer Name: {{d.customername}}</h3>
        
       
        <br>
        
        
        Delivery date :- {{d.formatdate}}
        
        
        <br>
        
        Product Delivery Address:- {{d.itemdeliveryaddress}}
       
        <br><br>
        <!-- <ion-button  color="success" [routerLink]= "['/Admin/dessertsedit',d.collection_dessertId]">Edit</ion-button> -->
   
           
                  <a (click)="view1(d.customerId,d.formatdate)">View More..</a>
            
                </figcaption>
            </figure>
          
  </ion-item>
  
  </ion-content>
