// ion-card {
//     --background: #8c703200;
//     --color: #3f4141;
//   }
  
//   ion-card-title {
//     --color: #e7dfdf;
//   }
  
//   ion-card-subtitle {
//     --color: #d1fff8;
//   }
  
//   /* iOS places the subtitle above the title */
//   ion-card-header.ios {
//     display: flex;
//     flex-flow: column-reverse;
//   }

//   @import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

// html, body {
//   width: 100%;
//   height: 100%;
//   margin: 0;
// }

// html {
//   font-size: 62.5%;
// }

// body {
//   min-height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-family: 'Concert One', cursive;
//   font-size: 4.2rem;
//   -webkit-font-smoothing: antialiased;
//   text-rendering: optimizeLegibility;
// }

// svg {
//   display: none;
// }

// .tabber {
//   position: relative;
//   display: flex;
//   align-items: stretch;
//   justify-content: stretch;
  
//   label {
//     user-select: none;
//     padding: 1.5rem;
//     cursor: pointer;
//     will-change: transform;
//     transform: translateZ(0px);
//     transition:
//       transform 75ms ease-in-out,
//       filter 75ms ease-in-out;
//     // filter: blur(.25rem);
    
//     &:hover {
//       transform: scale(1.15);
//       // filter: blur(0px);
//     }
//   }
  
//   input[type="radio"] {
//     display: none;
    
//     // static
//     &#t1 ~ .blob {
//       transform-origin: right center;
//     }
    
//     &#t2 ~ .blob {
//       transform-origin: left center;
//     }
    
//     // animated
//     &#t1:checked {
      
//       ~ .blob {
//         background: cornflowerblue;
//         animation-name: stretchyRev;
//       }
//     }
    
//     &#t2:checked {
      
//       ~ .blob {
//         background-color: skyblue;
//         animation-name: stretchy;
//       }
//     }
//   }
  
//   .blob {
//     top: 0;
//     left: 0;
//     width: 50%;
//     height: 75%;
//     position: absolute;
//     z-index: -1;
//     border-radius: 4rem;
//     animation-duration: .2s;
//     animation-direction: forwards;
//     animation-iteration-count: 1;
//     animation-fill-mode: forwards;
//     transition:
//       transform 150ms ease,
//       background 150ms ease;
//     filter: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\"><defs><filter id=\"goo\"><feGaussianBlur in=\"SourceGraphic\" stdDeviation=\"10\" result=\"blur\" /><feColorMatrix in=\"blur\" mode=\"matrix\" values=\"1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9\" result=\"goo\" /><feComposite in=\"SourceGraphic\" in2=\"goo\" operator=\"atop\"/></filter></defs></svg>#goo");
    
//     &:before, &:after {
//       display: block;
//       content: "";
//       position: absolute;
//       top: 0;
//       background-color: inherit;
//       height: 100%;
//       width: 50%;
//       border-radius: 100%;
//       transform: scale(1.15);
//       transition: transform 150ms ease;
//       animation-name: pulse;
//       animation-duration: .5s;
//       animation-iteration-count: infinite;
//       animation-direction: alternate;
//     }
    
//     &:before {
//       left: 0;
//       animation-delay: .15s;
//     }
    
//     &:after {
//       right: 0;
//     }
//   }
// }

// @keyframes stretchy {
//   0% {
//     transform: translateX(0) scaleX(1);
//   }
//   50% {
//     transform: translateX(0) scaleX(2);
//   }
//   100% {
//     transform: translateX(100%) scaleX(1);
//   }
// }

// @keyframes stretchyRev {
//   0% {
//     transform: translateX(100%) scaleX(1);
//   }
//   50% {
//     transform: translateX(0) scaleX(2);
//   }
//   100% {
//     transform: translateX(0) scaleX(1);
//   }
// }

// @keyframes pulse {
//   0%, 50% {
//     transform: scaleX(1);
//   }
//   25%, 75% {
//     transform: scaleX(1.5);
//   }
// }


ion-content{
  --padding-start:2rem;
  --padding-end:2rem;

  .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      margin-top: 3rem;

      h1{
          font-size: 3rem;
          font-weight: 600;
          color: #515151;
          margin: 0;
      }
      .avatar{
          width: 35px;
          height: 35px;
          background-color: #6b45bc;
          border-radius: 50%;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          overflow: hidden;

          ion-img{
              width: 90%;
              height: 90%;
          }
      }
  }


  .categories{
    display: flex;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2.5rem;
}

  .list-header{
      font-weight: 700;
      color: #515151;
      font-size: 1.8rem;
      margin-bottom: 1.6rem;
      margin-top: 2.5rem;
  }

  .food-list{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
  }

}

// category grid 
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


  .image-card{
      background-color: #f3f3f3;
      padding: 0.8rem;
      border-radius: 1.5rem;
      margin-bottom: 0.5rem;

      ion-img{
          opacity: 0.8;
      }
  }
  p{
      color: #c7c7c7;
  }
}
.wrapper.active{
  .image-card{
      background-color: #6b45bc;
  }
  p{
      color: #1d1d1d;
      font-weight: 600;
  }
}


// food grid 
ion-card{
  background-color: #d2cccc;
}

.card{
  width: 100%;
  padding: 1.6rem 2rem;
  background: #f7f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 2.5rem;
  margin-bottom: 1.5rem;

  .card-content{
      text-align: center;

      .title{
          font-weight: 700;
          font-size: 1.1rem;
          margin-bottom: 0.2rem;
          color: #1d1d1d;
      }
      .subtitle{
          font-size: 1.3rem;
          font-weight: 700;
          color: #ffb800;
          margin-top: 0;
          .sub{
              font-size: 1rem;
              margin-right: 2px;
          }
      }
      ion-buttons{
          position: absolute;
          bottom: -1rem;
          left: 50%;
          transform: translateX(-50%);

          ion-button{
              --background:#6b45bc;
              font-weight: 700;
              color: #fff;
              width: 40px;
              height: 40px;

              --padding-start:0;
              --padding-top:0;
              --padding-end:0;
              --padding-bottom:0;
          }
      }
  }
}