<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button> 
      </ion-buttons>
    <ion-title>Pizza Box</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-item>
  <form class="tabber">
    <label for="t1">Pizza</label>
    <input id="t1" name="food" type="radio"  [routerLink]= "['/Customer/index']" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="t2">Dessert</label>
    <input id="t2"  name="food" type="radio"  [routerLink]= "['/Customer/desertindex']" checked >
    <div class="blob"></div>
  </form></ion-item> -->

<!-- <ion-content>
  <ion-card-content>&nbsp;&nbsp;&nbsp;&nbsp;
    <ion-button type="submit" shape="round" [routerLink]= "['/Customer/index']">Pizza</ion-button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ion-button type="submit" shape="round" [routerLink]= "['/Customer/desertindex']">Desserts</ion-button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
    <!-- <img src="https://img.icons8.com/ios-filled/50/000000/neighbor.png" [routerLink]= "['/Customer/profile']"> -->
    <!-- </ion-card-content><ion-content>
  <ion-card *ngFor="let d of dessert;">
    
     
        <img [src] ="d.image" width="300px" [routerLink]= "['/Customer/dessertorder',d.collection_dessertId]"><br><br>
        <ion-card-title>
 {{d.dessertname}}<br><br>
  
 ${{d.dessertsprice}}<br><br>

</ion-card-title>

  </ion-card>

</ion-content> -->


<ion-content>
  <div class="header">
    <h1>Pizza Box</h1>
    <div>
      <ion-img src="../../../assets/img/pizza (2).png"></ion-img>
    </div>
  </div>
  
  
  <ion-card>
    <ion-grid>
      <ion-row>
        <div class="categories">
        <ion-col size="3" offset="0">
          <ion-label>
            <ion-img src="../../../assets/img/ALL.jpg" [routerLink]= "['/Customer/orindex']" ></ion-img>
           <p class="ion-no-margin" style="
           margin-top: 3px;
           color: black;
           margin-left: 20px;"> All</p>
          </ion-label>
        </ion-col>
    
        <ion-col size="3" offset="0">
          <ion-img src="../../../assets/img/pizza icon.jpg" [routerLink]= "['/Customer/index']"></ion-img>
      <p class="ion-no-margin" style="
      margin-top: 3px;
      color: black;
      margin-left: 11px;"> Pizza</p>
        </ion-col>
    
        <ion-col size="3" offset="0">
          <ion-img src="../../../assets/img/deslogo.webp" [routerLink]= "['/Customer/desertindex']"></ion-img>
          <p class="ion-no-margin" style="
          margin-top: 3px;
          color: black;
          margin-left: 5px;"> Desserts</p>
        </ion-col>
      </div>
      </ion-row>
    </ion-grid>
    </ion-card>

    <!-- desserts view -->
    <h1 class="list-header">We Offers</h1>
    <div class="food-list">
    <ion-card *ngFor="let d of dessert;">
      <div class="card">
       
      <img [src] ="d.image" width="300px" [routerLink]= "['/Customer/dessertorder',d.collection_dessertId]"><br><br>
      <div class="card-content">
  
        <h3 class="title">{{d.dessertname}}</h3>
  
        <h2 class="subtitle">₹{{d.dessertsprice}}</h2>
  
        <ion-buttons>
          <ion-button  [routerLink]= "['/Customer/dessertorder',d.collection_dessertId]">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
  
  </div>
  </div>
  </ion-card>
  </div>
  </ion-content>
