<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button> 
      </ion-buttons>
    <ion-title>Desserts & Beverages Registration View</ion-title>
  </ion-toolbar>
  <ion-card-content>
    <ion-button fill="outline"  class="plus" [routerLink]= "['/Admin/desserts']">+
    </ion-button>
    
  </ion-card-content>
</ion-header>




<ion-content>
<!-- <ion-icon name="add-circle-outline"[routerLink]= "['/Admin/powreg']"></ion-icon> -->

  <ion-item *ngFor="let d of dessert;">
  <figure class="snip1171 orange"style="margin-left: 30px;">
    <img [src]="d.image" >
    <div class="price"> ₹{{d.dessertsprice}}
</div>
      <br>
      
        
            <br>
            <figcaption>
       <h3> {{d.dessertname}}</h3>
      
     
      <br>
      
      
        Description :- {{d.dessertsdescription}}
      
      
      <br>
      
        <!-- category name:- {{c.categoryname}} -->
     
      <br><br>
      <ion-button  color="success" [routerLink]= "['/Admin/dessertsedit',d.collection_dessertId]">Edit</ion-button>
 
         
                <a (click)="deletedessert(d.collection_dessertId)">delete</a>
          
              </figcaption>
          </figure>
        
</ion-item>

</ion-content>
